
<h1 mat-dialog-title align="center"><img src="../../../assets/logo_monqui.JPG" width="100px"><br> Bienvenido</h1>
<mat-dialog-content class="mat-typography">
  <h2 align="center">Somos un sitio web para publicar y encontrar carga de manera agil</h2>

  <p>Los anuncios de cargar aqui publicados son ofertados por cualquier persona unicamente para carga nacional</p>

  <h3>Colombia se mueve gracias a ti</h3>
  <p>Esta plataforma esta dispuesta para que culquier transportador de carga nacional busque y contacte la oferta que le pueda interesar</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-raised-button color="accent" style="width: 100%;" [mat-dialog-close]="true" cdkFocusInitial>INGRESAR</button>
</mat-dialog-actions>